body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header {
    background-color: rgba(9, 80, 143, 0.837);
    color: white;
    text-align: center;
    padding: 1rem 0;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    font-size:medium;
}
.welcome-message {
    position: absolute;
    top: 500px;
    left: 500px;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.051);
}
.main-title {
    font-size: 70.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#ffffff;
}
.caption {
    font-size: 20px;
    max-width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}
.carousel-item {
    opacity: 90.5%;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    padding: 20px;
}
.section {
    margin: 20px 0;
}
.section h2 {
    color: #000000;
    font-family: Verdana, sans-serif;
}
.button {
    position: relative;
    padding: 10px 22px;
    background:#147094;
    border-radius: 50px;
    color:#f0f0f0;
    border: none;
    font-size: 18px;
    font-weight: 400;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
 /*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height:auto;
}

/*=============== CARD ===============*/

.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin-top: -200px;
  margin-bottom:-150px;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom:auto;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
  /*=============== TOURIST ATTRACTION ===============*/
.card1{
    width: 280px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 60px;
}

.tourist{
  margin-top: 30px;
  margin-left: 50px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.card-content{
   padding: 20px;
}


  /*=============== FOOD ===============*/
  .display__container {
    background-color: var(--secondary-color);
  }
  
  .display__container :is(.section__title, .section__subtitle) {
    color: var(--text-dark);
  }
  
  .display__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .display__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--extra-light);
    text-align: center;
  }
  
  .display__card i {
    font-size: 2rem;
    color: var(--primary-color);
  }
  
  .display__card h4 {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    color: var(--text-dark);
  }
  
  .display__card p {
    font-size: 0.8rem;
    padding: 0 1rem;
    color: var(--text-dark);
  }
  
  .display__grid .grid-1 {
    grid-area: 1/1/3/3;
  }
  

  /*=============== FORM ===============*/
.join{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( white, rgba(9,80,143,0.837));
}
.container2{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(9, 80, 143, 0.837);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: rgba(9, 80, 143, 0.837);
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.sub{
  border-width: 0px;
  border-radius: 10px;
  width:10%;
  color:#ffffff;
  background-color: #147094;
}
button{
  border-radius: 2px;
}





/*=============== TRANSPORTATION ===============*/

.service {
  background-image: linear-gradient( rgb(255, 255, 255), rgba(9,80,143,0.837));
}
.tulisan {
  margin-top:35px;
  margin-left:35px;
}

.card-container2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
}
.card2{
  width: 325px;
  background-color: rgba(255, 255, 255, 0.837);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px, 2px, 4px, rgba (0,0,0,0.2);
  margin: 45px;
  margin-top: 100px;
}
.card2  img{
  width: 100%;
  height: 200px;
}
.card-content2 {
  padding: 16px;
}
.card-content2 h3{
  font-size: 28px;
  margin-bottom: 8px;
}
.card-content2 p{
  color: rgb(98, 98, 98);
  font-size: 15px;
  line-height: 1.3;
}
.card-content2 .btn{
  display: inline-block;
  padding: 8px 16px;
  background-color:rgba(9,80,143,0.837);
  text-decoration: navajowhite;
  border-radius: 4px;
  margin-top: 16px;
  color: rgb(255, 255, 255);
}

/*=============== ABOUT US ===============*/
.contact{
  background-image: linear-gradient( white, rgba(9,80,143,0.837));
}

.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  font-family: 'Yatra One', cursive;
  font-size: 48px;
  color: #000000;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}


